{% if rows and rows|length > 0 -%}
| {{ fields.key }} | {{ fields.value }} |
|---|---|
{%- for r in rows %}
| {{ r[fields.key] }} | {{ r[fields.value] }} |
{%- endfor %}
{%- else -%}
{{ empty_message or "Sem registros para exibir." }}
{%- endif %}
